table {
  border-collapse: collapse;
  width: 100%;
}
table thead tr {
  background-color: #ddd;
  height: 50px;

}

table th, table td {
  padding: 2px 10px;
  border-bottom: 1px solid #eee;

  .p-1{
    font-size: 25px;
    color: black;
  }
  .p-2{
    font-size: 73%;
  }
}
.tr-ajus{
  height: 50px;

  img{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.fa-busc{
  color: gold;
}

#input-busc{
  padding-top: 9px;
  padding-bottom: 7px;
}
#filtro-nome{
  width: 342px;
  border-radius: 5px 5px 5px 5px;
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
  text-align: center;
}

.brand-busc{
  position: relative;
  left: 55px;
}
