#cad{
  background: url("../../../images/imgpainel/bgmenu3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 660px;
}

.navbar{
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid gray;
}
#cad-sec {

  position: relative;
  top: 87px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 47px;
  text-align: center;


  .reg-cad {
    font-size: 33px;
    color: white;
    position: relative;
    bottom: 40px;
    border-bottom: 1px solid #1b79ca;;


  }

}
.control-label{
  color: white;
}