html, body {
  margin: 0;
  padding: 0;
}
#mapa{
  height: 609px;
  width: 412px;
  margin-top: -20px;
  overflow:auto;
}

.cl-inp{
  position: relative;
  bottom: 538px;
  left: 10px;
  width: 269px;
  .input-custom{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    border-bottom: 1px solid blue;
    height: 36px;
    opacity: 0.7;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
  }
  .form-control{
    border: 1px solid blue;
    opacity: 0.8;

  }
  .ic-aj{
    text-align: center;
    position: relative;
    left: 5px;
  }
  .btn-custom{
    width: 48px;
    position: relative;
    left: 233px;
    bottom: 49px;
    color: #f5f5f5;
    background-color: blue;
    border: 1px solid blue;


    &:hover{
      background-color: black;
    }
  }
}

.sidenav {
  height: 659px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  .avatar3{
    background:  url("../../../images/avatmen.png") ,
    url("../../../images/bgmen.jpg") no-repeat;
    width: 100%;
    height: 161px;
    background-repeat: no-repeat;
    background-position: left 9px,center, 0 0;
    background-size: 100px,280px;
    position: relative;
    top: -60px;
    .name1{
      top: 113px;
      left: 14px;
      position: absolute;
      font-size: 17px;
      color: black;
      padding-bottom: 15px;
      width: 100%;
      display: block;
    }
    .name2{
      top: 134px;
      left: 14px;
      position: absolute;
      color: black;
      font-size: 16px;
      padding-bottom: 8px;
      width: 100%;
      display: block;
    }
  }
}

.sidenav a {
  position: relative;
  top: -61px;
  padding: 12px 8px 13px 14px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
i{
  padding-right: 30px;
}
.brand{
  position: relative;
  left: 55px;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -15px;
  right: 9px;
  font-size: 43px;
  border-bottom: 0 dotted #a2a2a2;
  color: black;
}
#main {
   transition: margin-left .5s;
   padding: 20px;
 }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

